<div class="flex justify-center">

    <form [formGroup]="userForm" (submit)="submit()"
        class="p-4 mt-20 rounded-lg border m-auto w-full sm:3/4 md:w-1/2 lg:w-1/3">
        <h1 class="text-center text-xl">Register</h1>
        
        <div class="my-5 w-full">
            <label for="email">Email</label>
            <input type="email" id="email"
                class="p-2 rounded w-full border text-sm"
                placeholder="Email Address" formControlName="email"
             >
           <div>
                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched"
                   class="p-2 bg-red-300 text-red-800 rounded">
                      <div *ngIf="userForm.get('email')?.errors?.['required']">Email is required.</div>
                      <div *ngIf="userForm.get('email')?.errors?.['email']"> Invalid Email Address</div>
                 </div>
           </div>
        </div>

       

        <div class="my-5 w-full">
            <label for="password">Password</label>
            <input type="password" id="password"
                class="p-2 rounded w-full border text-sm" placeholder="Password" formControlName="password"
               >
        </div>

        <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched"
            class="p-2 bg-red-300 text-red-800 rounded">
            <span *ngIf="userForm.get('password')?.errors?.['required']">Password is required</span>
            <span *ngIf="userForm.get('password')?.errors?.['minlength']">Minimum pass len should be 4.</span>
        </div>

        <div class="my-5 w-full">
            <label for="confirm_password">Confirm Password</label>
            <input type="text" id="confirm_password"
                class="p-2 rounded w-full border text-sm"
                placeholder="Confirm Password"
                formControlName="confirm_password"
            >
            <div *ngIf="userForm.get('confirm_password')?.invalid && userForm.get('required')?.touched">
                 confirm password is required.!
            </div>
            <div *ngIf="!isPasswordMatched()" class="p-2 bg-red-300 text-red-800 rounded">
             <span>password not Matched.</span>
            </div>
        </div>

        <div class="my-5 w-full text-center ">
              <button type="submit" (click)="submit()" class="bg-blue-600 p-2 px-4 rounded">
                submit 
              </button>
            </div>

        
    </form>
</div>
